body {
  padding-bottom: 50px;
}

#shapes-game {
  border: 4px solid grey;
  background-color: black;
}

.canvas-container {
  padding: 10px;
}
.canvas-container, #shapes-game {
  height: 750px;
  width: 800px;
}

.scores {
  padding: 10px;
  text-align: center;
}

.legend {
  padding-top: 15px;
}

.legend-contents {
  text-align: left;
  padding-left: 30px;
}

.triangle-bottomleft-red {
  width: 0;
  height: 0;
  border-bottom: 50px solid red;
  border-right: 50px solid transparent;
}

.triangle-bottomleft-black {
  width: 0;
  height: 0;
  border-bottom: 54px solid black;
  border-right: 58px solid transparent;
}

.triangle-inner-white {
    position: relative;
    top: 2px;
    left: 2px;
    width: 0;
    height: 0;
    border-bottom: 50px solid white;
    border-right: 50px solid transparent;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 23px solid transparent;
    border-bottom: 23px solid transparent;
    border-right: 23px solid red;
}

.inner-triangle {
    position: relative;
    top: -20px;
    left: 2px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid blue;
}

.red-square {
  width: 50px;
  height: 50px;
  background-color: red;
}

.white-square {
  width: 50px;
  height: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
}