#pong {
    border:1px solid #d3d3d3;
    background-color: black;
    height: 800px;
    width: 1000px;
}

#extra {
    width: 1000px;
    text-align: center;
    font-size: 30px;
}

.hidden {
    display: none;
}

#resetBtn {
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
}

