body {
  text-align: center;
  color: #0a014d;
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-size: 48px;
}

.square {
  display: inline-block;
  min-width: 185px;
  min-height: 165px;
  margin: 3px;
  padding-top: 10px;
  background-color: #d3ffce;
  vertical-align: top;
  font-size: 700%;
  border-radius: 10px;
}

@media only screen and (min-width: 601px) {
  .square {
    min-width: 185px;
    min-height: 165px;
    margin: 3px;
    padding-top: 10px;
    font-size: 700%;
  }

  .row {
    min-width: 600px ;
  }
}

@media only screen and (max-width: 600px) {
  .square {
    min-width: 74px; 
    min-height: 66px; 
    margin: 2px;
    padding-top: 8px;
    font-size: 270%;
  }

  .row {
    min-width: 240px ;
  }
}

#new-game {
  margin: 10px;
}

#message {
  font-size: 3em;
}

.btn {
  padding: 20px;
}