body {
  text-align: center;
}


.square {
  display: inline-block;
  width: 185px;
  height: 165px;
  margin: 3px;
  background-color: #bfbfbf;
  vertical-align: top;
  font-size: 700%;
  color: red;
}

.row {
  min-width: 600px ;
}

#new-game {
  margin: 10px;
}

#message {
  font-size: 3em;
}